body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colour-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-height: 60px;
  --colour-1: rgb(247, 248, 255);
  --colour-2: rgb(213, 229, 252);
  --colour-3: rgb(155, 179, 214);
  --colour-4: rgb(127, 154, 195);
  --colour-5: rgb(43, 63, 94);
  --switch-colour: rgb(155, 179, 214);
}

[colour-theme="dark"] {
  --colour-1: rgb(24, 26, 33); /* For index.html safe area default colour: #181A21 */
  --colour-2: rgb(45, 54, 64);
  --colour-3: rgb(68, 82, 99);
  --colour-4: rgb(90, 111, 134);
  --colour-5: rgb(189, 211, 236);
  --switch-colour: rgb(45, 193, 136);
}
